div#window {
    top: 0;
    left: 0;
    position: absolute;
    height: 40px;
    width: -webkit-fill-available;
    display: flex;
    justify-content: space-between;
    align-items: center;
    -webkit-app-region: drag;
    padding: 0 0 0 10px;
    flex-direction: row;
    flex-wrap: nowrap;
}

div#window>div#controls, div#window>div#controls>* {
    -webkit-app-region: no-drag;
    font-size: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    height: 100%;
    text-align: center;
    justify-content: center;
}

div#window>div#titleleft {
    display: flex;
    flex-direction: row;
    align-items: center;
}

div#window>div#titleleft>div#windowlogo {
    font-family: 'Montserrat';
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 1px;
    width: 30px;
    user-select: none;
    -webkit-user-select: none;
    padding-right: 10px;
}

div#window>div#titleleft>div#windowtitle {
    font-family: 'Uni Sans CAPS', 'Montserrat';
    font-size: 14px;
    font-weight: 700;
    user-select: none;
    -webkit-user-select: none;
    text-transform: uppercase;
}

div#window>div#controls>* {
    height: 100%;
    aspect-ratio: 1;
}

div#controls>div#close {
    font-size: 20px;
}

div#controls>div#close:hover {
    background-color: red
}

div#controls>* {
    transition: background 0.125s ease-in-out
}