@import url("./fonts/fonts.css");

body {
    margin: 0;
}

div#window {
    top: 0;
    left: 0;
    position: absolute;
    height: 40px;
    width: -webkit-fill-available;
    display: flex;
    justify-content: space-between;
    align-items: center;
    -webkit-app-region: drag;
    padding: 0 10px;
    flex-direction: row;
    flex-wrap: nowrap;
}

div#window>div#controls, div#window>div#controls>* {
    -webkit-app-region: no-drag;
    font-size: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}

div#window>div#controls>*:not(:last-child) {
    margin-right: 5px;
}

div#window>div#titleleft {
    display: flex;
    flex-direction: row;
    align-items: center;
}

div#window>div#titleleft>div#windowlogo {
    font-family: 'Montserrat';
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 1px;
    width: 30px;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    padding-right: 10px;
}

div#window>div#titleleft>div#windowtitle {
    font-family: 'Uni Sans CAPS', 'Montserrat';
    font-size: 14px;
    font-weight: 700;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    text-transform: uppercase;
}

div#app>div#sidebar {
    position: absolute;
    top: 40;
    left: 0;
    width: 240px;
    height: -webkit-fill-available;
    transition: width 0.5s ease-in-out;
    padding: 10px 0 15px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    font-family: 'Montserrat';
    font-weight: 666;
}

div#app>div#sidebar::after {
    content: "";
    position: fixed;
    background-color: transparent;
    top: 40px;
    height: 50px;
    width: 25px;
    left: 250px;
    border-top-left-radius: 25px;
    transition: left 0.5s ease-in-out;
    z-index: -1;
}

div#app>div#sidebar.collapsed {
    width: 40px;
}

div#app>div#sidebar.collapsed::after {
    left: 50px;
}

div#app>div#sidebar div.material-symbols-outlined {
    font-size: 24px;
    cursor: pointer;
    width: 30px;
    text-align: center;
    padding: 0 10px 0 0;
}

div#app>div#sidebar div.sidebarlabel {
    opacity: 1;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

div#app:has(div#sidebar) {
    --sidebarwidth: 250px;
}

div#app:has(div#sidebar.collapsed) {
    --sidebarwidth: 50px;
}

@media screen and (max-width: 600px) {
    div#app>div#sidebar {
        width: 40px !important;
    }
    div#app>div#sidebar::after {
        left: 50px;
    }
    div#app>div#sidebar div#collapse {
        pointer-events: none !important;
    }
    div#app>div#sidebar div.sidebarlabel {
        opacity: 0;
    }
    div#app {
        --sidebarwidth: 50px !important;
    }
}

div#app>div#sidebar>*>* {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    overflow: hidden;
    white-space: nowrap;
}

div#app>div#sidebar>* {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: fit-content;
}

div#app>div#sidebar>div#sidebarbottom>:not(:last-child) {
    margin-bottom: 15px;
}

div#app>div#sidebar>div#sidebartop>:not(:last-child) {
    margin-top: 15px;
}

div#app>div#sidebar.collapsed div.sidebarlabel{
    opacity: 0;
}

div#app>div#sidebar div.sidebarlabel {
    cursor: pointer;
    transition: opacity 0.5s ease-in-out;
}

div#content {
    top: 50px;
    position: absolute;
    left: calc(var(--sidebarwidth) + 10px);
    border: none;
    border-radius: 15px 0 0;
    overflow: hidden;
    width: calc(100% - var(--sidebarwidth) - 20px);
    height: calc(100% - 60px);
    transition: left 0.5s ease-in-out, width 0.5s ease-in-out;
}

iframe#webiFrame {
    border: none;
    width: 100%;
    height: 100%;
}

section {
    display: none;
}

section#web {
    width: 100%;
    height: 100%;
}

div#content[current="web"]>section#web {
    display: block;
}

div#updatestatus[status="checking"]::after {
    content: "sync";
}

div#updatestatus[status="downloading"]::after {
    content: "downloading";
}

div#updatestatus[status="downloaded"]::after {
    content: "download_done";
}

div#updatestatus[status="uptodate"]::after {
    content: "check";
    opacity: 0;
    transition: opacity 5s linear 10s;
}

div#updatestatus[status="appnotloaded"]::after {
    content: "pending";
}

div#updatestatus[status="fail"]::after {
    content: "sync_problem";
    animation: fail 1s steps(1) 0s infinite normal;
}

@keyframes fail {
    0% {
        opacity: 1
    }
    50%{
        opacity: 0
    }
}

div#updatestatus::after {
    margin-left: 5px;
    opacity: 1;
}

html.dark {
    body {
        background: #2a2a2a;
    }

    div#window {
        background: #161616;
    }

    div#window>div#controls, div#window>div#controls>* {
        color: white;
    }

    div#window>div#titleleft>* {
        color: #F0F0F0;
    }

    div#app>div#sidebar {
        background: #161616;
        color: #F0F0F0; 
    }
    
    div#app>div#sidebar::after {
        box-shadow: 0 -25px 0 0 #161616;
    }

    div#app>div#sidebar div.material-symbols-outlined {
        color: #F0F0F0;
    }

    div#app>div#sidebar div#switchColorMode {
        & div.material-symbols-outlined::after {
            content: "light_mode"
        }

        & div.sidebarlabel::after {
            content: "LIGHT MODE";
        }
    }
}

@media screen and (max-width: 600px) {
    html.dark div#app>div#sidebar div#collapse>div.material-symbols-outlined {
        color: #424242;
    };
}


html.light {
    body {
        background: #D5D5D5;
    }

    div#window {
        background: #E9E9E9;
    }

    div#window>div#controls, div#window>div#controls>* {
        color: black;
    }

    div#window>div#titleleft>* {
        color: #0F0F0F;
    }

    div#app>div#sidebar {
        background: #E9E9E9;
        color: #0F0F0F; 
    }
    
    div#app>div#sidebar::after {
        box-shadow: 0 -25px 0 0 #E9E9E9;
    }

    div#app>div#sidebar div.material-symbols-outlined {
        color: #0F0F0F;
    }

    div#app>div#sidebar div#switchColorMode {
        & div.material-symbols-outlined::after {
            content: "dark_mode"
        }

        & div.sidebarlabel::after {
            content: "DARK MODE";
        }
    }
}

@media screen and (max-width: 600px) {
    html.light div#app>div#sidebar div#collapse>div.material-symbols-outlined {
        color: #BDBDBD;
    }
}
