@import url("./fonts/fonts.css");
@import url("./animations.css");

* {
    user-select: none;
    -webkit-user-select: none;
}

html:has(div#updatestatus[status="appnotloaded"]){
    pointer-events: none;
    opacity: 0;
}

html:not(:has(div#updatestatus[status="appnotloaded"])) {
    opacity: 1;
}

html {
    transition: opacity 0.5s ease-in-out;
}

body {
    margin: 0;
}

div#window {
    top: 0;
    left: 0;
    position: absolute;
    height: 40px;
    width: -webkit-fill-available;
    display: flex;
    justify-content: space-between;
    align-items: center;
    -webkit-app-region: drag;
    padding: 0 0 0 10px;
    flex-direction: row;
    flex-wrap: nowrap;
}

div#window>div#controls, div#window>div#controls>* {
    -webkit-app-region: no-drag;
    font-size: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    height: 100%;
    text-align: center;
    justify-content: center;
}

div#window>div#titleleft {
    display: flex;
    flex-direction: row;
    align-items: center;
}

div#window>div#titleleft>div#windowlogo {
    font-family: 'Montserrat';
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 1px;
    width: 30px;
    user-select: none;
    -webkit-user-select: none;
    padding-right: 10px;
}

div#window>div#titleleft>div#windowtitle {
    font-family: 'Uni Sans CAPS', 'Montserrat';
    font-size: 14px;
    font-weight: 700;
    user-select: none;
    -webkit-user-select: none;
    text-transform: uppercase;
}

div#app>div#sidebar {
    position: absolute;
    top: 40;
    left: 0;
    width: 240px;
    height: -webkit-fill-available;
    transition: width 0.5s ease-in-out;
    padding: 10px 0 15px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    font-family: 'Montserrat';
    font-weight: 666;
}

div#app>div#sidebar::after {
    content: "";
    position: fixed;
    background-color: transparent;
    top: 40px;
    height: 50px;
    width: 25px;
    left: 250px;
    border-top-left-radius: 25px;
    transition: left 0.5s ease-in-out;
    z-index: -1;
}

div#app>div#sidebar.collapsed {
    width: 40px;
}

div#app>div#sidebar.collapsed::after {
    left: 50px;
}

div#app>div#sidebar div.material-symbols {
    font-size: 24px;
    cursor: pointer;
    width: 30px;
    text-align: center;
    padding: 0 10px 0 0;
}

div#app>div#sidebar div.sidebarlabel {
    opacity: 1;
    user-select: none;
    -webkit-user-select: none;
}

div#app:has(div#sidebar) {
    --sidebarwidth: 250px;
}

div#app:has(div#sidebar.collapsed) {
    --sidebarwidth: 50px;
}

@media screen and (max-width: 750px) {
    div#app>div#sidebar {
        width: 40px !important;
    }
    div#app>div#sidebar::after {
        left: 50px;
    }
    div#app>div#sidebar div#collapse {
        pointer-events: none !important;
    }
    div#app>div#sidebar div.sidebarlabel {
        opacity: 0;
    }
    div#app {
        --sidebarwidth: 50px !important;
    }
}

div#app>div#sidebar>*>* {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    overflow: hidden;
    white-space: nowrap;
}

div#app>div#sidebar>* {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: fit-content;
}

div#app>div#sidebar>div#sidebarbottom>:not(:last-child) {
    margin-bottom: 15px;
}

div#app>div#sidebar>div#sidebartop>:not(:first-child) {
    margin-top: 15px;
}

div#app>div#sidebar.collapsed div.sidebarlabel{
    opacity: 0;
}

div#app>div#sidebar div.sidebarlabel {
    cursor: pointer;
    transition: opacity 0.5s ease-in-out;
}

div#content {
    top: 50px;
    position: absolute;
    left: calc(var(--sidebarwidth) + 10px);
    border: none;
    border-radius: 15px 0 0;
    overflow: hidden;
    width: calc(100% - var(--sidebarwidth) - 20px);
    height: calc(100% - 60px);
    transition: left 0.5s ease-in-out, width 0.5s ease-in-out;
}

iframe#webiFrame {
    border: none;
    width: 100%;
    height: 100%;
}

section {
    display: none;
}

section#web {
    width: 100%;
    height: 100%;
}

section#settings {
    user-select: none;
    -webkit-user-select: none;
}

div#content[current="web"]>section#web {
    display: block;
}

div#content[current="settings"]>section#settings {
    display: block;
    height: 100%;
    overflow-y: auto;
}

div#content[current="library"]>section#library {
    display: block;
    height: 100%;
    overflow-y: auto;
}

div#content[current="game"]>section#game {
    display: block;
    height: 100%;
    overflow-y: auto;
}

div#updatestatus[status="checking"]::after, section#settings div#updatestatusSETTINGS[status="checking"]::after {
    content: "sync";
}

div#updatestatus[status="downloading"]::after, section#settings div#updatestatusSETTINGS[status="downloading"]::after {
    content: "downloading";
}

div#updatestatus[status="downloaded"]::after, section#settings div#updatestatusSETTINGS[status="downloaded"]::after {
    content: "download_done";
}

div#updatestatus[status="uptodate"]::after {
    content: "check";
    opacity: 0;
    transition: opacity 5s linear 10s;
}

div#updatestatus[status="appnotloaded"]::after {
    content: "pending";
}

section#settings div#updatestatusSETTINGS[status="uptodate"]::after {
    content: "check";
}

div#updatestatus[status="fail"]::after, section#settings div#updatestatusSETTINGS[status="fail"]::after {
    content: "sync_problem";
    animation: fail 1s steps(1) 0s infinite normal;
}

div#onlinestatus[status="online"]::after {
    content: "cloud_done";
}

div#onlinestatus[status="offline"]::after {
    content: "cloud_off";
}

div#updatestatus::after, div#onlinestatus::after {
    margin-left: 5px;
    opacity: 1;
}

html.dark {
    body {
        background: #2a2a2a;
    }

    div#window {
        background: #161616;
    }

    div#window>div#controls, div#window>div#controls>* {
        color: white;
    }

	div#controls>div#minimize:hover, div#controls>div#maximize:hover {
	    background-color: rgba(255, 255, 255, 0.25)
	}

    div#window>div#titleleft>* {
        color: #F0F0F0;
    }

    div#app>div#sidebar {
        background: #161616;
        color: #F0F0F0; 
    }
    
    div#app>div#sidebar::after {
        box-shadow: 0 -25px 0 0 #161616;
    }

    div#app>div#sidebar div.material-symbols {
        color: #F0F0F0;
    }

    div#app>div#sidebar div#switchColorMode {
        & div.material-symbols::after {
            content: "light_mode"
        }

        & div.sidebarlabel::after {
            content: "LIGHT MODE";
        }
    }

    div#app>div#content>section#settings>div#updateHERO {
        background: #161616;
        & div#updatestatusSETTINGS {
            color: #F0F0F0;   
        }
        & div#updatestatusSETTINGSstring {
            color: #F0F0F0;
        }
        & div#updateCheckSETTINGS {
            color: #F0F0F0;
        }
    }

    label[switchlabel] {
        background: #E9E9E9;
    }
    
    label[switchlabel]:after {
        background: #f0f0f0;
    }
    
    input[switch]:checked + label[switchlabel] {
        background: #6495ed;
    }

    input[switch]:not(:checked) + label[switchlabel]:after {
        background: #0f0f0f;
    }

    settingsoption {
        color: #F0F0F0;
    }
    
    settingsheading {
        color: #E9E9E9;
    }

    hr {
        border-color: #F0F0F0;
    }

    settingsoption:has(input[disabled]) {
        color: lightgray !important;
        & label[switchlabel] {
            background: lightgray !important;
        }
        
        & label[switchlabel]:after {
            background: darkgray !important;
        }
    }

    section#settings span, .settingsmaincontentbox:first-of-type:has(input[disabled])::after {
        color: #F0F0F0;
    }

    section#settings div.settingsmaincontentbox {
        color: #F0F0F0;
    }
}

@media screen and (max-width: 750px) {
    html.dark div#app>div#sidebar div#collapse>div.material-symbols {
        color: #424242;
    };
}


html.light {
    body {
        background: #D5D5D5;
    }

    div#window {
        background: #E9E9E9;
    }

    div#window>div#controls, div#window>div#controls>* {
        color: black;
    }

	div#controls>div#minimize:hover, div#controls>div#maximize:hover {
	    background-color: rgba(0, 0, 0, 0.25)
	}

    div#window>div#titleleft>* {
        color: #0F0F0F;
    }

    div#app>div#sidebar {
        background: #E9E9E9;
        color: #0F0F0F; 
    }
    
    div#app>div#sidebar::after {
        box-shadow: 0 -25px 0 0 #E9E9E9;
    }

    div#app>div#sidebar div.material-symbols {
        color: #0F0F0F;
    }

    div#app>div#sidebar div#switchColorMode {
        & div.material-symbols::after {
            content: "dark_mode"
        }

        & div.sidebarlabel::after {
            content: "DARK MODE";
        }
    }

    div#app>div#content>section#settings>div#updateHERO {
        background: #E9E9E9;
        & div#updatestatusSETTINGS {
            color: #0F0F0F;   
        }
        & div#updateStatusSETTINGSstring {
            color: #0F0F0F;
        }
        & div#updateCheckSETTINGS {
            color: #0F0F0F;
        }
    }

    label[switchlabel] {
        background: #161616;
    }
    
    label[switchlabel]:after {
        background: #f0f0f0;
    }
    
    input[switch]:checked + label[switchlabel] {
        background: #404;
    }

    settingsoption {
        color: #0F0F0F;
    }
    
    settingsheading {
        color: #161616;
    }

    hr {
        border-color: #0F0F0F;
    }

    settingsoption:has(input[disabled]) {
        color: darkgray;
        & label[switchlabel] {
            background: darkgray !important;
        }
        
        & label[switchlabel]:after {
            background: lightgray !important;
        }
    }

    section#settings span, .settingsmaincontentbox:first-of-type:has(input[disabled])::after {
        color: #0F0F0F;
    }

    section#settings div.settingsmaincontentbox {
        color: #0F0F0F;
    }
}

@media screen and (max-width: 600px) {
    html.light div#app>div#sidebar div#collapse>div.material-symbols {
        color: #BDBDBD;
    }
}

div#updateHERO {
    display: flex;
    flex-direction: column;
    width: calc(100% - 20px);
    height: 200px !important;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
    padding: 0 10px;
}

div#updatestatusSETTINGS {
    font-size: 96px;
    margin-bottom: 15px;
}

div#updatestatusSETTINGSstring {
    font-family: "Montserrat";
    user-select: none;
    -webkit-user-select: none;
    font-size: 12px;
    text-align: center;
}

div#updateCheckSETTINGS {
    font-size: 8px;
    cursor: pointer;
    font-family: "Montserrat";
    margin-top: 5px;
    font-style: italic;
    user-select: none;
    -webkit-user-select: none;
}

div#updateHERO:has(div#updatestatusSETTINGS[status="checking"]) div#updateCheckSETTINGS, div#updateHERO:has(div#updatestatusSETTINGS[status="downloading"]) div#updateCheckSETTINGS, div#updateHERO:has(div#updatestatusSETTINGS[status="downloaded"]) div#updateCheckSETTINGS {
    display: none;
}


input[type=checkbox][switch]{
	height: 0;
	width: 0;
	visibility: hidden;
}

label[switchlabel] {
	cursor: pointer;
	text-indent: -9999px;
	width: 50px;
	height: 25px;
	background: #161616;
	display: block;
	border-radius: 100px;
	position: relative;
	transition: background 0.25s ease-in-out;
}

label[switchlabel]:after {
	content: '';
	position: absolute;
	top: 5px;
	left: 5px;
	width: 15px;
	height: 15px;
	background: #fff;
	border-radius: 27.5px;
	transition: 0.25s;
}

input[switch]:checked + label[switchlabel] {
	background: #6495ed;
}

input[switch]:checked + label[switchlabel]:after {
	left: calc(100% - 5px);
	transform: translateX(-100%);
}

label[switchlabel]:active:after, label:active~label[switchlabel]:after {
	width: 25px;
}

settingsoption {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat';
    margin-bottom: 15px;
}

settingsoption>label {
    cursor: pointer;
}

settingsoption>label:first-child {
    margin-right: 10px;
}

settingsheading {
    font-family: 'Montserrat';
    font-weight: 666;
    font-style: italic;
    font-size: 48px;
    opacity: 75%;
}

section#settings hr {
    width: 75%;
    margin: 15px 0px;
}

div#settingsMainContent {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    justify-content: space-evenly;
    height: fit-content;
}

div.settingsmaincontentbox {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

kaomoji {
    white-space: nowrap;
    line-height: 10px;
}

section#settings span {
    text-align: center;
    font-family: 'Montserrat';
    font-size: 12px;
}

section#settings a {
    color: unset;
}

settingsoption:has(input[disabled])  {
    font-style: italic;
}

.settingsmaincontentbox:first-of-type:has(input[disabled]:not([temp]))::after {
    content: "Certain options may be disabled on Linux, as they are not supported.";
    font-family: "Montserrat";
    font-size: 12px;
}

html.dark {
    ::-webkit-scrollbar {
        width: 10px;
        background-color: #161616;
    }
      
      ::-webkit-scrollbar-thumb {
        background-color: #CFCFCF;
    }
      
      ::-webkit-scrollbar-track {
        background-color: #161616;
        opacity: 0.5;
    }
}

html.light {
    ::-webkit-scrollbar {
        width: 10px;
        background-color: #E9E9E9;
    }
      
      ::-webkit-scrollbar-thumb {
        background-color: #161616;
    }
      
      ::-webkit-scrollbar-track {
        background-color: #E9E9E9;
        opacity: 0.5;
    }
}

section#library[viewstyle="banner"]>games {
    row-gap: 52.5px;
    display: flex;
    flex-direction: column;
}

section#library[viewstyle="banner"]>games>gamesection {
    height: 400px;
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat';
    color: #F0F0F0;
    align-items: center;
    justify-content: flex-end;
    border-radius: 32px;
    overflow-x: clip;
}

section#library[viewstyle="banner"]>games>gamesection>info>div.gametitle {
    font-size: 40px;
    font-weight: bold;
}

section#library[viewstyle="banner"]>games>gamesection>info>div.gamesubtitle {
    font-size: 16px;
}

section#library[viewstyle="banner"]>games>gamesection>blank {
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    bottom: -200px;
    z-index: 1;
}

section#library[viewstyle="banner"]>games>gamesection#con {
    background: url(./res/CONRPG.banner.png);
    background-position: center 65%;
    background-size: cover;
}

section#library[viewstyle="banner"]>games>gamesection#restorebackup {
    background: url(./res/RESTOREBACKUP.banner.png);
    background-position: center 65%;
    background-size: cover;
}

section#library[viewstyle="banner"]>games>gamesection>info {
    text-align: center;
    height: 160px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    border-radius: 0 0 32px 32px;
    overflow: hidden;
}

section#library[viewstyle="banner"]>games>gamesection>info>* {
    width: 100%;
    text-align: center;
}

html.dark section#library[viewstyle="banner"]>games>gamesection>info::before {
    background-image: linear-gradient(360deg, rgba(0,0,0,0.75), transparent);
    height: 50px;
    width: 100%;
    content: ""
}

html.dark section#library[viewstyle="banner"]>games>gamesection>info>:first-child {
    background-image: linear-gradient(180deg, rgba(0,0,0,0.75), black);
}

html.dark section#library[viewstyle="banner"]>games>gamesection>info>:not(:first-child) {
    background: black;
}

html.dark section#library[viewstyle="banner"]>games>gamesection>info::after {
    width: 100%;
    background: black;
    content: "";
    height: 42px;
}

html.dark section#library[viewstyle="banner"]>games>gamesection>info {
    color: #F0F0F0;
}

html.light section#library[viewstyle="banner"]>games>gamesection>info::before {
    background-image: linear-gradient(360deg, rgba(255,255,255,0.75), transparent);
    height: 50px;
    width: 100%;
    content: ""
}

html.light section#library[viewstyle="banner"]>games>gamesection>info>:first-child {
    background-image: linear-gradient(180deg, rgba(255,255,255,0.75), white);
}

html.light section#library[viewstyle="banner"]>games>gamesection>info>:not(:first-child) {
    background: white;
}

html.light section#library[viewstyle="banner"]>games>gamesection>info::after {
    width: 100%;
    background: white;
    content: "";
    height: 42px;
}

html.light section#library[viewstyle="banner"]>games>gamesection>info {
    color: #0F0F0F;
}

gamesection button, gamesection a:has(button), gamesection>blank {
    all: unset;
    color: #0F0F0F;
    background: #F0F0F0;
    width: 150px;
    height: 75px;
    border-radius: 15px;
    font-family: 'Uni Sans CAPS';
    font-weight: bold;
    text-align: center;
    cursor: pointer;
}

gamesection button.disabled, contextmenu>menuaction.disabled {
    cursor: not-allowed;
}

html.dark section#library>games>gamesection button {
    color: rgba(15, 15, 15, 100%);
    background: #F0F0F0;
}

html.light section#library>games>gamesection button {
    color: rgba(240, 240, 240, 100%);
    background: #0F0F0F;
}

html.dark section#library>games>gamesection button.disabled {
    color: rgba(15, 15, 15, 50%);
}

html.light section#library>games>gamesection button.disabled {
    color: rgba(240, 240, 240, 50%);
}

gamesection a {
    text-decoration: none;
}

div#window>div#controls>* {
    height: 100%;
    aspect-ratio: 1;
}

div#controls>div#close:hover {
    background-color: red
}

div#controls>* {
    transition: background 0.125s ease-in-out
}

section#settings div.settingsmaincontentbox {
    creditsline {
        height: 75px;
        display: flex;
        flex-direction: row;
    }
    
    creditbanner {
        width: fit-content;
        display: flex;
        flex-direction: row;
        height: 50px;
        align-items: center;
        padding: 12.5px;
        background: #80808080;
        border-radius: 25px;
    }
    
    creditpfp, creditpfp img, creditpfp object {
        height: 50px;
        border-radius: 25px;
    }
    
    creditinfo {
        display: flex;
        flex-direction: column;
        font-family: 'Uni Sans CAPS';
    }
    
    creditpfp {
        margin-right: 12.5px;
    }
    
    credittype {
        font-style: italic;
        font-size: 12px;
        font-weight: bold;
    }
    
    creditname>logo {
        font-family: 'Montserrat';
        font-size: 16px;
        font-weight: 700;
        letter-spacing: 1px;
        width: 30px;
        user-select: none;
        -webkit-user-select: none;
        margin-left: 5px;
    }
    
    creditname {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    
    creditbanner:not(:last-of-type) {
        margin-right: 15px;
    }
}

progress#launcherUpdateProgress {
    -webkit-appearance: none;
    appearance: none;
}

progress::-webkit-progress-bar {
    background-color: rgba(128, 128, 128, 128);
    border-radius: 15px;
    overflow: hidden;
    height: 10px;
    top: 10px;
    position: relative;
}

progress::-webkit-progress-value {
    background-color: #F0F0F0;
    border-radius: 15px;
    transition: width 0.5s ease-in-out
}

div#updateHERO:has(div#updatestatusSETTINGS[status="downloaded"]) progress#launcherUpdateProgress, div#updateHERO:has(div#updatestatusSETTINGS[status="checking"]) progress#launcherUpdateProgress, div#updateHERO:has(div#updatestatusSETTINGS[status="uptodate"]) progress#launcherUpdateProgress, div#updateHERO:has(div#updatestatusSETTINGS[status="fail"]) progress#launcherUpdateProgress {
  display: none;
  opacity: 0;
  height: 0px;
}


.viewmode-container {
    display: flex;
    justify-content: space-between;
    border-radius: 8px;
    overflow: hidden;
}

.viewmode-container input[type="radio"] {
    display: none;
}

.viewmode-container label {
    display: flex;
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    cursor: pointer;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
subsection#libraryHeader {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    padding: 8px;
    margin-bottom: 8px;
    flex-wrap: wrap;
    row-gap: 10px;
}

subsection#libraryHeader>* {
    display: flex;
    flex-direction: row;
    align-items: center;
}

subsection#libraryHeader>:not(:last-child) {
    margin-right: 16px;
}

subsection#libraryHeader>:not(:last-child) {
    margin-right: 16px;
}

subsection#libraryHeader>div.collection-container>button#addCollectionButton {
    margin-left: 8px;
    line-height: 0 !important;
    text-align: center;
    padding: 8 4;
}

.sort-container, .collection-container {
    font-family: 'Montserrat', "Noto Sans", "Noto Sans JP", "Noto Sans KR", "Noto Sans Hebrew", sans-serif;
    font-weight: 400;
    display: flex;
    flex-direction: row;
    align-items: center;
}

select#sortSelect option, select#collectionSelect option {
    font-size: 12px;
}

select#sortSelect, select#collectionSelect, button#addCollectionButton {
    all: unset;
    padding: 8px;
    border-radius: 8px;
}

select#sortSelect, select#collectionSelect {
    max-width: 500px;
}

option#selectSeparator {
    font-size: 1px !important;
}

.sort-container label, .collection-container label {
    margin-right: 8px;
}

button#addCollectionButton {
    height: 19px;
    font-size: 28px;
    cursor: pointer;
}

html.dark {
    .viewmode-container {
        border: 3px solid #f0f0f0;
    }

    .viewmode-container label {
        background: #0f0f0f;
        color: #f0f0f0;
    }

    .viewmode-container label:hover {
        background-color: #f0f0f0a0;
        color: #0f0f0fa0;
    }

    .viewmode-container input[type="radio"]:checked + label {
        background-color: #f0f0f0;
        color: #0f0f0f;
    }

    select#sortSelect option:checked, select#collectionSelect option:checked {
        background-color: #f0f0f0;
        color: #0f0f0f;
    }

    option#selectSeparator {
        background: #0f0f0fa0;
    }

    select#sortSelect, select#collectionSelect, button#addCollectionButton {
        border: 3px #f0f0f0 solid;
        background: #f0f0f0;
        color: #0f0f0f;
    }

    .sort-container, .collection-container {
        color: #f0f0f0;
    }

    button#addCollectionButton {
        border: 3px #F0F0F0 solid;
    }

    section#library[viewstyle="banner"] .favourite-checkbox .favourite-checkbox-label, section#library[viewstyle="banner"] .favourite-checkbox input:checked:active ~ .favourite-checkbox-label, section#library[viewstyle="grid"] .favourite-checkbox .favourite-checkbox-label, section#library[viewstyle="grid"] .favourite-checkbox input:checked:active ~ .favourite-checkbox-label, section#library[viewstyle="list"] .favourite-checkbox .favourite-checkbox-label, section#library[viewstyle="list"] .favourite-checkbox input:checked:active ~ .favourite-checkbox-label {
        color: #f0f0f0;
    }
    
    section#library .favourite-checkbox input:active ~ .favourite-checkbox-label, section#library .favourite-checkbox input:checked ~ .favourite-checkbox-label {
        color: #f00000;
    }
}

html.light {
    .viewmode-container {
        border: 3px solid #0f0f0f;
    }

    .viewmode-container label {
        background: #f0f0f0;
        color: #0f0f0f;
    }

    .viewmode-container label:hover {
        background-color: #0f0f0fa0;
        color: #f0f0f0a0;
    }

    .viewmode-container input[type="radio"]:checked + label {
        background-color: #0f0f0f;
        color: #f0f0f0;
    }

    select#sortSelect option:checked, select#collectionSelect option:checked {
        background-color: #0f0f0f;
        color: #f0f0f0;
    }

    option#selectSeparator {
        background: #f0f0f0a0;
    }

    select#sortSelect, select#collectionSelect, button#addCollectionButton {
        border: 3px #0f0f0f solid;
        background: #0f0f0f;
        color: #f0f0f0;
    }

    .sort-container, .collection-container {
        color: #0f0f0f;
    }

    button#addCollectionButton {
        border: 3px #0F0F0F solid;
    }

    section#library[viewstyle="banner"] .favourite-checkbox .favourite-checkbox-label, section#library[viewstyle="banner"] .favourite-checkbox input:checked:active ~ .favourite-checkbox-label, section#library[viewstyle="grid"] .favourite-checkbox .favourite-checkbox-label, section#library[viewstyle="grid"] .favourite-checkbox input:checked:active ~ .favourite-checkbox-label, section#library[viewstyle="list"] .favourite-checkbox .favourite-checkbox-label, section#library[viewstyle="list"] .favourite-checkbox input:checked:active ~ .favourite-checkbox-label {
        color: #0f0f0f;
    }
    
    section#library .favourite-checkbox input:active ~ .favourite-checkbox-label, section#library .favourite-checkbox input:checked ~ .favourite-checkbox-label {
        color: #f00000;
    }

}

.favourite-checkbox {
    display: inline-block;
}

.favourite-checkbox input {
    display: none;
}

.favourite-checkbox .favourite-checkbox-label {
    color: #0f0f0f;
    transform: scale(1);
    transition: transform 0.25s cubic-bezier(.5,-0.75,.5,1.75), font-variation-settings 0.25s cubic-bezier(.5,-0.75,.5,1.75), color 0.5s cubic-bezier(.5,-0.75,.5,1.75), filter 0s cubic-bezier(.5,-0.75,.5,1.75);
    font-variation-settings: 'FILL' 0, 'wght' 700, 'GRAD' 0, 'opsz' 20 !important;
    margin-left: 8px;
}

.favourite-checkbox input:active ~ .favourite-checkbox-label {
    color: #f00000;
    transform: scale(0.8);
    font-variation-settings: 'FILL' 1, 'wght' 700, 'GRAD' 0, 'opsz' 48 !important;
}

.favourite-checkbox input:checked ~ .favourite-checkbox-label {
    color: #f00000;
    transform: scale(1);
    font-variation-settings: 'FILL' 1, 'wght' 700, 'GRAD' 0, 'opsz' 20 !important;
    animation: pulse 1s ease infinite normal;
}

.favourite-checkbox input:checked:active ~ .favourite-checkbox-label {
    color: #0f0f0f;
    transform: scale(0.8);
    font-variation-settings: 'FILL' 0, 'wght' 700, 'GRAD' 0, 'opsz' 48 !important;
	animation: none;
}

section#library[viewstyle="banner"]>games>gamesection .favourite-checkbox .favourite-checkbox-label {
    font-size: 30px;
}

section#library[viewstyle="grid"]>games>gamesection {
    height: 350px;
    width: 450px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    border-radius: 25px;
    align-items: center;
}

section#library[viewstyle="grid"]>games {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    column-gap: 25px;
    row-gap: 25px;
    padding: 0 25px;
    width: fit-content;
    max-width: 100%;
    flex-wrap: wrap;
}

section#library[viewstyle="grid"]>games>gamesection>blank {
    position: relative;
    bottom: -35px;
    display: flex;
    justify-content: center;
    z-index: 9999;
    width: fit-content;
}

section#library[viewstyle="grid"]>games>gamesection#restorebackup {
    background: url(./res/RESTOREBACKUP.grid.png);
    background-position: center;
    background-size: cover;
}

section#library[viewstyle="grid"]>games>gamesection#con {
    background: url(./res/CONRPG.grid.png);
    background-position: center;
    background-size: cover;
}

games>gamesection[data-currentcollection="false"] {
    display: none !important;
}

section#library[viewstyle="grid"]>games>gamesection>info {
    font-family: 'Montserrat';
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 87.5px 8px 53.625px;
    position: relative;
    bottom: -75px;
    border-radius: 0 0 25px 25px;
    width: calc(100% - 16px);
    & .gametitle {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: 666;
    }
    & .gamesubtitle {
    font-weight: 420;
    font-size: 12px;
    font-style: italic;
    }
}

html.light section#library[viewstyle="grid"]>games>gamesection>info {
    background: linear-gradient(0deg, white, transparent);
}

html.dark section#library[viewstyle="grid"]>games>gamesection>info {
    background: linear-gradient(0deg, black, transparent);
}

section#library[viewstyle="list"]>games {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 15 25 0;
    row-gap: 15px;
}

section#library[viewstyle="list"]>games>gamesection {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    width: calc(100% - 30px);
    font-family: 'Montserrat';
    padding: 10px 10px 10px 20;
    border-radius: 15px;
}

section#library[viewstyle="list"]>games>gamesection>info, section#library[viewstyle="list"]>games>gamesection>info>* {
    display: flex;
    align-items: center;
    font-weight: 666;
    font-style: italic;
}

section#library[viewstyle="list"]>games>gamesection>info>div.gametitle>label.favourite-checkbox {
    position: absolute;
    left: 250px;
}

section#library[viewstyle="list"]>games>gamesection>info>div.gamesubtitle {
    display: none;
}

section#library[viewstyle="list"]>games>gamesection>blank {
    height: 50px;
}

section#library[viewstyle="list"]>games>gamesection button {padding: 15 0;border-radius: 7.5px;height: calc(100% - 30px);}

html.dark section#library[viewstyle="list"]>games>gamesection>info, html.dark section#library[viewstyle="grid"]>games>gamesection>info {
    color: #f0f0f0;
}

html.light section#library[viewstyle="list"]>games>gamesection>info, html.light section#library[viewstyle="grid"]>games>gamesection>info {
    color: #0f0f0f;
}

html.dark section#library[viewstyle="list"]>games>gamesection {
    background: #161616;
}

html.light section#library[viewstyle="list"]>games>gamesection {
    background: #e9e9e9;
}

[disabled], .disabled {
    opacity: 0.5 !important;
    cursor: not-allowed !important;
}

.contextmenu-wrapper {
    visibility: hidden;
    position: fixed;
    width: 275px;
    border-radius: 6.667px;
    background: #fff;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
    z-index: 10000;

    & .menu {
        padding: 10px 8px;
        margin: unset;
    }

    & .content .item {
        list-style: none;
        font-size: 8px;
        height: 33.333px;
        display: flex;
        width: calc(100% - 10px);
        cursor: pointer;
        align-items: center;
        border-radius: 6.667px;
        margin-bottom: 1px;
        padding: 0 3.333px 0 6.667px;

        & div {
        display: flex;
        align-items: center;
        flex-direction: row;
        }
    }

    & .content .item:hover {
        background: #f2f2f2;
    }

    & .content .item span {
        margin-left: 6.667px;
        font-size: 16px;
        font-family: "Montserrat";
    }

    & .content .contexttitle {
        margin-left: 6.667px;
        font-size: 12px;
        font-family: "Montserrat";
        font-weight: 666;
        list-style: none;
        padding: 0 6.667px;
    }

    & .content .contextname {
        display: flex;
        margin-bottom: -3.333px;
        padding: 8px;
        border-bottom: 1px solid #ccc;
    }

    & .content .exmenu {
        position: relative;
        justify-content: space-between;
    }

    & .exmenu .menu-content {
        position: absolute;
        background: #fff;
        right: -133.333px;
        top: 0px;
        padding: 8.333px;
        opacity: 0;
        pointer-events: none;
        border-radius: 6.667px;
        z-index: 10000;
        width: fit-content !important;
    }

    & .exmenu:hover .menu-content {
        opacity: 1;
        pointer-events: auto;
    }

	& .collectionscontextadd {
		width: auto !important;
	    margin-left: unset !important;
        padding: 0 13px 0 6.667px !important;
	}
}

games:has(gamesection[data-gametitle="ConRPG"]>info>div.gametitle>label.favourite-checkbox>input:checked)>contextmenu[for="ConRPG"] #contextfav > i::before {
    content: "heart_minus";
}

games:has(gamesection[data-gametitle="ConRPG"]>info>div.gametitle>label.favourite-checkbox>input:checked)>contextmenu[for="ConRPG"] #contextfav > span::before {
    content: "Remove from ";
}

games:has(gamesection[data-gametitle="ConRPG"]>info>div.gametitle>label.favourite-checkbox>input:not(:checked))>contextmenu[for="ConRPG"] #contextfav > i::before {
    content: "heart_plus";
}

games:has(gamesection[data-gametitle="ConRPG"]>info>div.gametitle>label.favourite-checkbox>input:not(:checked))>contextmenu[for="ConRPG"] #contextfav > span::before {
    content: "Add to ";
}



games:has(gamesection[data-gametitle="RestoreBackup?"]>info>div.gametitle>label.favourite-checkbox>input:checked)>contextmenu[for="RestoreBackup?"] #contextfav > i::before {
    content: "heart_minus";
}

games:has(gamesection[data-gametitle="RestoreBackup?"]>info>div.gametitle>label.favourite-checkbox>input:checked)>contextmenu[for="RestoreBackup?"] #contextfav > span::before {
    content: "Remove from ";
}

games:has(gamesection[data-gametitle="RestoreBackup?"]>info>div.gametitle>label.favourite-checkbox>input:not(:checked))>contextmenu[for="RestoreBackup?"] #contextfav > i::before {
    content: "heart_plus";
}

games:has(gamesection[data-gametitle="RestoreBackup?"]>info>div.gametitle>label.favourite-checkbox>input:not(:checked))>contextmenu[for="RestoreBackup?"] #contextfav > span::before {
    content: "Add to ";
}


div#promptinput {
    display: flex;
    flex-direction: column;
    align-items: center;
}

span#error {
    display: flex;
    align-items: center;
}


.game-info {
    flex: 1;
    background-color: #f2f2f2;
    padding: 12px;
    text-align: center;
    display: flex;
    flex-direction: row;
    border-radius: 0px 0px 16px 16px;
    z-index: 1;
    position: relative;
    column-gap: 32px;
    flex-wrap: wrap;
    row-gap: 16px;
}

.game-stats {display: flex;column-gap: 24px;flex-wrap: wrap;justify-content: center;row-gap: 16px;}

div.game-links ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    font-family: 'Uni Sans CAPS';
}

div.game-links li {
    padding: 8px;
}

div.game-links li:not(:last-of-type)::after {
    content: "·";
    margin-left: 16px;
}

div.game-links a {
    text-decoration: none;
    color: #F0F0F0;
    padding: 8px;
    border-radius: 8px;
    transition: background 0.25s ease-in-out;
}

div.game-links a:hover {
    background: rgba(255, 255, 255, 0.1);
}

section#game>subsection#conrpg>div.banner {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
    background: url(res/CONRPG.banner.png);
    height: 350px;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
    color: transparent;
    font-size: min(96px, 8vw);
    padding: 4px 16px;
}

section#game>subsection#restorebackup>div.banner {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
    background: url(res/RESTOREBACKUP.banner.png);
    height: 350px;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
    color: transparent;
    font-size: min(96px, 7vw);
    padding: 4px 16px;
}

section#game>subsection>div.banner>span {
    background: linear-gradient(360deg, #aaa, white);
    background-clip: text;
}

button#playButton {all: unset;color: #F0F0F0;background: #0F0F0F;width: 150px;height: 75px;border-radius: 15px;font-family: 'Uni Sans CAPS';font-weight: bold;text-align: center;}

div.gamestats {
    display: flex;
    top: -4px;
    position: relative;
    align-items: center;
}

.gamestattitle {
    font-family: 'Uni Sans CAPS';
    font-weight: bold;
    font-size: 32px;
}

.gamestattext {
    text-align: left;
}

.gamestatvalue {
    font-size: 16px;
    font-weight: 500;
    font-family: 'Montserrat';
}

.gamestaticon {
    font-size: 44px;
    position: relative;
    font-variation-settings: 'FILL' 0, 'wght' 700, 'GRAD' -25, 'opsz' 20;
}

.gamestaticon:not(:empty) {
    padding-right: 8px;
}

.game-links {
    display: flex;
    flex-direction: row;
    margin-top: -16px;
    z-index: 0;
    position: relative;
    padding: 16px;
    padding-top: 32px;
    background: #0F0F0F;
    color: #F0F0F0;
    border-radius: 0 0 16px 16px;
    align-items: center;
}

section#game[game="conrpg"]>subsection:not(#conrpg) {
    display: none;
}

section#game[game="restorebackup"]>subsection:not(#restorebackup) {
    display: none;
}

@media (max-width: 1265px) {
  section#game > subsection > div.game-info {
    justify-content: center;
  }
}