@import url("./fonts/fonts.css");

:root {
    user-select: none;
    -webkit-user-select: none;
}

body {
    margin: 0;
}
div#notification {
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(8px);
    border-radius: 8px;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 4px 11px rgba(0, 0, 0, 0.1);
    opacity: 1;
    transform: scale(1);
    transition: background-color 0.125s ease-in-out, opacity 0.125s ease-in-out, transform 0.125s ease-in-out;
}

div#notification.hidden {
    opacity: 0;
    transform: scale(0.9);
}

div#notification:hover {
    background: rgba(255, 255, 255, 0.75);
}

img#notificationicon {
    height: 24px;
    margin-right: 8px;
}

div#notificationheader {
    display: flex;
    flex-direction: row;
    padding: 12px;
    justify-content: space-between;
    border-bottom: rgba(0, 0, 0, 0.125) 1px solid;
}

div#notificationheader, div#notificationheader>:not(div#notificationclose) {
    -webkit-app-region: drag;
}

div#notificationclose {
    -webkit-app-region: no-drag;
}

left {
    display: flex;
    flex-direction: row;
    align-items: center;
}

div#notificationtitle {
    text-transform: uppercase;
    font-family: "Uni Sans CAPS";
    font-weight: bold;
}

div#notificationcontent {
    padding: 12px 16px;
}

div#notificationinfotitle {
    font-weight: bold;
    font-family: "Montserrat";
    margin-bottom: 4px;
}

div#notificationinfo {
    font-family: 'Montserrat';
    font-size: 12px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    white-space: pre-wrap;
    display: -webkit-box;
    overflow: hidden;
}

div#notification:has(button:not(:empty)) div#notificationinfo {
    margin-bottom: 16px;
}

div#notificationbuttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

button {
    all: unset;
    cursor: pointer;
    padding: 8px;
    background: rgba(255, 255, 255, 0.5);
    font-family: 'Montserrat';
    font-weight: 666;
    font-size: 12px;
    text-align: center;
    border-radius: 8px
}

div#notificationbuttons>button:not(:empty) {
    width: 1000%;
}

div#notificationbuttons:not(:has(button:empty))>button:not(:last-child) {
    margin-right: 25px
}

button:empty {
    display: none;
}